.helpcenter{
    width: 290px;
    height: 400px;
    overflow-y: scroll;
    margin:2px auto;
    position: fixed;
    bottom: 50px;
    left: 10px;
    visibility: hidden;
    z-index: -999;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 1rem 0rem;
    border-top: 4px solid blue;
    border-bottom: 4px solid blue;
    @media only screen and (min-width: 426px){
        position: fixed;
        top: 60px;
        right: -100px;
        width: 500px;
        max-width: 800px;
        padding: 1rem 2rem;
    }
    &::-webkit-scrollbar{
        width: 10px;
        height: 30px;
        background: orangered;
        color: orangered;
    }

    .title{
        text-align: center;
        padding: .4rem 1rem;
    }

    &__display-container{
       width: 100%;
       margin: 5px auto;
    }

    &__top-links{
        width: 100%;
        height: 30px;
        margin: 0px auto;
        position: sticky;
        top: -12px;
        z-index: 99;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        transition: all 500ms;

        .btncenter{
            padding: .7rem 1rem;
            color: rgb(3, 255, 238);
            background: rgb(141, 74, 203);
            border-radius: 3px;
            font-weight: 600;
        }
        .active{
            color: whitesmoke;
            background: orangered;
            font-weight: 600;
            padding: .7rem 1rem;
        }
    }

    &__content{
        width: 100%;
        margin: 0px auto;
        margin-top: -30px;
        p{
            font-size: 13px;
            color: var(--secondaryColor);
            line-height: 1.5rem;
        }

        .content{
            width: 100%;
            background: var(--primaryColor);
            display: none;
            h1{
                background: var(--primaryColor);
            }
            p{
                background: var(--primaryColor); 
            }
        }

        .active{
            background: var(--primaryColor);
            display: inline-block;
        }

        #navigation{
            width: 90%;
            margin: 0 auto;
            background: var(--primaryColor);
            h1{
                width: 100%;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                font-size: 20px;
                padding: .6rem auto;
                padding-left: 1rem;
            }
            .title{
                font-size: 14px;
                padding: 5px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            .category{
                width: 100%;
                padding: 1rem auto;
                font-size: 15px;
                margin-top: 10px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            p{
                line-height: 1.5rem;
                font-size: 13px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            .name{
                width: 100%;
                padding: 1rem auto;
                font-size: 13px;
                margin-top: 10px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
                font-weight: 500;
            }

            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1000;
                input{
                    padding: .6rem .2rem;
                    outline: none;
                    border: 1px solid rgb(181, 174, 174);
                    width: 90%;
                    margin-top: 2rem;
                }
                textarea{
                   padding: .4rem auto;
                   outline: none;
                   width: 90%;
                   margin-top: .2rem;
                }
                input[type="submit"]{
                    padding: .8rem 1.2rem;
                    outline: none;
                    color: whitesmoke;
                    background: rgb(2, 173, 34);
                    text-align: center;
                    font-weight: 600;
                    border: none;
                    border-radius: 3px;
                    margin-top: 1rem;
                    cursor: pointer;
                    z-index: 1000;
                }
            }
        }

        #terms{
            width: 90%;
            margin: 0 auto;
            color: var(--secondaryColor);
            background: var(--primaryColor);
            h1{
                width: 100%;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                font-size: 20px;
                padding: .6rem auto;
                padding-left: 1rem;
            }
            .title{
                font-size: 14px;
                padding: 5px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            .category{
                width: 100%;
                padding: 1rem auto;
                font-size: 15px;
                margin-top: 10px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            p{
                line-height: 1.5rem;
                font-size: 13px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
        }
        #policies{
            width: 90%;
            margin: 0 auto;
            color: var(--secondaryColor);
            background: var(--primaryColor);
            h1{
                width: 100%;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                font-size: 20px;
                padding: .6rem auto;
                padding-left: 1rem;
            }
            .title{
                font-size: 14px;
                padding: 5px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            .category{
                width: 100%;
                padding: 1rem auto;
                font-size: 15px;
                margin-top: 10px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
            p{
                line-height: 1.5rem;
                font-size: 13px;
                color: var(--secondaryColor);
                background: var(--primaryColor);
                padding-left: 1rem;
            }
        }
    }

}

.showHelp{
    width: 290px;
    height: 400px;
    overflow-y: scroll;
    margin:2px auto;
    position: fixed;
    bottom: 50px;
    left: 10px;
    visibility: visible;
    z-index: 999;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 1rem 0rem;
    animation: fronts .3s ease-in forwards;
    @media only screen and (min-width: 426px){
        position: fixed;
        top: 50px;
        right: -100px;
        width: 600px;
        max-width: 800px;
        padding: 1rem 2rem;
        animation: front .5s ease-in-out forwards;
    }
    @keyframes front {
        from{
           transform: scale(.1);
           position: fixed;
           top: -200px;
           right: -400px;
        }
        to{
            transform: scale(1);
            position: fixed;
            top: 50px;
            right: -100px;
        }
    }
    @keyframes fronts {
        from{
           transform: scale(.8);
        }
        to{
            transform: scale(1);
        }
    }
    &::-webkit-scrollbar{
        display: none;
    }
}