:root {
    --primaryColor: whitesmoke;
    --secondaryColor: #212121;
}
.dark-mode{
    --primaryColor: #000106;
    --secondaryColor: #ffff;
}
.services{
    width: 100%;
    @media only screen and (min-width: 426px){
       margin-top: 20px;      
     }
     @media only screen and (min-width: 769px){
       margin-top: 40px;
     }
     @media only screen and (min-width: 1025px){
       margin-top: 50px;
     }

    &__title{
        text-align: center;
        font-size: 2rem;
        color: blue;
        padding: 0 auto 10px auto ;
        width: 90%;
        margin: 0 auto;
        @media only screen and (min-width: 426px){
            margin: 0 auto;
            width: 80%;
        }
        @media only screen and (min-width: 769px){
            margin: 0 auto;
            width: 80%;
        }
        @media only screen and (min-width: 1025px){
            margin: 0 auto;
            width: 80%;
        }
    }

    &__service-container{
        width: 96%;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        grid-gap: 10px;
        @media only screen and (min-width: 426px){
            width: 90%;
            margin: 20px auto;     
         }
         @media only screen and (min-width: 769px){
            width: 80%;
            margin: 20px auto;
         }
         @media only screen and (min-width: 1025px){
            width: 80%;
            margin: 20px auto;
         }
    }

    &__card-container{
        width: 280px;
        max-width: 300px;
        height: 260px;
        max-height: 300px;
        box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .1);
        margin: 10px auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem .6rem;

        img{
            width: 50%;
            height: 50%;
            margin: 0 auto;
        }

        p{
            text-align: center;
            line-height: 1.3rem;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 13px;
            color: var(--secondaryColor);
        }
    }

    .contact{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        a{
            color: blue;
            &:nth-child(1){
               i{
                  color: green;
               }
            }
            &:nth-child(2){
                i{
                    color: orangered;
                }
            }

            i{
                margin-right: 10px;
                font-size: 14px;
            }
        }
    }
}