.contacts {
  width: 100%;
  margin: 10px auto;
}

@media only screen and (min-width: 426px) {
  .contacts {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 769px) {
  .contacts {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1025px) {
  .contacts {
    margin-top: 90px;
  }
}

.contacts__title {
  text-align: center;
  font-size: 2rem;
  color: blue;
  padding: 0 auto 10px auto;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 426px) {
  .contacts__title {
    padding: .6rem auto;
  }
}

@media only screen and (min-width: 769px) {
  .contacts__title {
    width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .contacts__title {
    width: 75%;
    margin: 0 auto;
  }
}

.contacts p {
  text-align: center;
  width: 96%;
  line-height: 1.5rem;
  color: var(--secondaryColor);
  margin: 0 auto;
}

@media only screen and (min-width: 426px) {
  .contacts p {
    line-height: 1.6rem;
    width: 80%;
    margin: 10px auto;
  }
}

@media only screen and (min-width: 769px) {
  .contacts p {
    line-height: 1.6rem;
    width: 60%;
    margin: 10px auto;
  }
}

@media only screen and (min-width: 1025px) {
  .contacts p {
    line-height: 1.7rem;
    width: 60%;
    max-width: 80%;
    margin: 10px auto;
  }
}

.contacts__contact-container {
  width: 96%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 10px;
}

@media only screen and (min-width: 426px) {
  .contacts__contact-container {
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 769px) {
  .contacts__contact-container {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 1025px) {
  .contacts__contact-container {
    width: 80%;
    max-width: 80%;
    margin: 20px auto;
  }
}

.contacts__left-section {
  width: 98%;
  margin: 0 auto;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem .2rem;
  border-radius: 3px;
}

.contacts__left-section .text {
  font-size: 1.3rem;
  color: blue;
  padding: 0 auto 10px auto;
  padding-bottom: 10px;
  padding-left: 15px;
}

.contacts__info-doc {
  width: 94%;
  -webkit-box-shadow: 0 0 2px 1px var(--secondaryColor);
          box-shadow: 0 0 2px 1px var(--secondaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 1rem .2rem;
  margin: 0 auto;
  margin-top: 15px;
}

.contacts__info-doc .image {
  width: 40px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.contacts__info-doc .image a i {
  font-size: 25px;
}

.contacts__info-doc .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__info-doc .description a {
  line-height: 1.3rem;
}

.contacts__right-section {
  width: 98%;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  border-radius: 3px;
  padding: 1rem .2rem;
  margin: 0 auto;
}

.contacts__right-section .text {
  font-size: 1.3rem;
  color: blue;
  padding: 0 auto 10px auto;
  padding-bottom: 10px;
  padding-left: 15px;
}

.contacts__form-container {
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px 1px var(--secondaryColor);
          box-shadow: 0px 0px 3px 1px var(--secondaryColor);
}

.contacts__form-container form {
  width: 90%;
  margin: 20px auto;
  padding-top: 20px;
}

.contacts__form-container form .input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .6rem .2rem;
  width: 100%;
}

.contacts__form-container form .input-group span {
  padding-bottom: 5px;
}

.contacts__form-container form .input-group input {
  outline: none;
  padding: .4rem .4rem;
  border: none;
  border-bottom: 1px solid var(--secondaryColor);
}

.contacts__form-container form .input-group input:focus {
  border: ipx solid #025902;
}

.contacts__form-container form .input-group input[type="reset"] {
  background: orangered;
  color: white;
  border: none;
  padding: .6rem 1rem;
  border-radius: 3px;
}

.contacts__form-container form .input-group input[type="submit"] {
  background: green;
  color: white;
  border: none;
  padding: .6rem 1rem;
  border-radius: 3px;
}

.contacts__form-container form .input-group textarea {
  outline: none;
  padding: .4rem auto;
}

.contacts__form-container form .input-group .robotverification {
  width: 100%;
  margin-top: 10px;
  height: 40px;
}

.contacts__form-container form .input-group p {
  line-height: 1.1rem;
  color: var(--secondaryColor);
}

.contacts__form-container form .input-group .confirm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .4rem 2.5rem;
  margin-top: 20px;
}

.contacts__form-container p {
  color: var(--secondaryColor);
  font-style: italic;
  padding-bottom: 10px;
}

.helpcenter {
  width: 290px;
  height: 400px;
  overflow-y: scroll;
  margin: 2px auto;
  position: fixed;
  bottom: 50px;
  left: 10px;
  visibility: hidden;
  z-index: -999;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem 0rem;
  border-top: 4px solid blue;
  border-bottom: 4px solid blue;
}

@media only screen and (min-width: 800px) {
  .helpcenter {
    position: fixed;
    top: 60px;
    right: -100px;
    width: 500px;
    max-width: 800px;
    padding: 1rem 2rem;
  }
}

.helpcenter::-webkit-scrollbar {
  display: none;
}

.helpcenter .title {
  text-align: center;
  padding: .4rem 1rem;
}

.helpcenter__display-container {
  width: 100%;
  margin: 5px auto;
}

.helpcenter__top-links {
  width: 100%;
  height: 30px;
  margin: 0px auto;
  position: -webkit-sticky;
  position: sticky;
  top: -12px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.helpcenter__top-links .btncenter {
  padding: .6rem 1rem;
  color: white;
  background: blue;
  border-radius: 3px;
}

.helpcenter__top-links .active {
  background: white;
  color: black;
  font-weight: 600;
}

.helpcenter__content {
  width: 100%;
  margin: 0px auto;
  margin-top: -30px;
}

.helpcenter__content p {
  font-size: 13px;
  color: #3a3a3a;
  line-height: 1.5rem;
}

.helpcenter__content .content {
  width: 100%;
  background: white;
  display: none;
}

.helpcenter__content .content h1 {
  background: white;
}

.helpcenter__content .content p {
  background: white;
}

.helpcenter__content .active {
  background: white;
  display: inline-block;
}

.helpcenter__content #navigation {
  width: 90%;
  margin: 0 auto;
  background: white;
}

.helpcenter__content #navigation h1 {
  width: 100%;
  background: white;
  font-size: 20px;
  padding: .6rem auto;
  padding-left: 1rem;
}

.helpcenter__content #navigation .title {
  font-size: 14px;
  color: orangered;
  padding: 5px;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #navigation .category {
  width: 100%;
  padding: 1rem auto;
  font-size: 15px;
  margin-top: 10px;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #navigation p {
  line-height: 1.5rem;
  font-size: 13px;
  color: #4d4b4b;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #navigation .name {
  width: 100%;
  padding: 1rem auto;
  font-size: 13px;
  margin-top: 10px;
  background: white;
  padding-left: 1rem;
  font-weight: 500;
}

.helpcenter__content #navigation form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.helpcenter__content #navigation form input {
  padding: .6rem .2rem;
  outline: none;
  border: 1px solid #b5aeae;
  width: 90%;
  margin-top: 2rem;
}

.helpcenter__content #navigation form textarea {
  padding: .4rem auto;
  outline: none;
  width: 90%;
  margin-top: .2rem;
}

.helpcenter__content #navigation form button {
  padding: .8rem 1.2rem;
  outline: none;
  background: orange;
  color: white;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  margin-top: 1rem;
  cursor: pointer;
}

.helpcenter__content #terms {
  width: 90%;
  margin: 0 auto;
  background: white;
}

.helpcenter__content #terms h1 {
  width: 100%;
  background: white;
  font-size: 20px;
  padding: .6rem auto;
  padding-left: 1rem;
}

.helpcenter__content #terms .title {
  font-size: 14px;
  color: orangered;
  padding: 5px;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #terms .category {
  width: 100%;
  padding: 1rem auto;
  font-size: 15px;
  margin-top: 10px;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #terms p {
  line-height: 1.5rem;
  font-size: 13px;
  color: #4d4b4b;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #policies {
  width: 90%;
  margin: 0 auto;
  background: white;
}

.helpcenter__content #policies h1 {
  width: 100%;
  background: white;
  font-size: 20px;
  padding: .6rem auto;
  padding-left: 1rem;
}

.helpcenter__content #policies .title {
  font-size: 14px;
  color: orangered;
  padding: 5px;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #policies .category {
  width: 100%;
  padding: 1rem auto;
  font-size: 15px;
  margin-top: 10px;
  background: white;
  padding-left: 1rem;
}

.helpcenter__content #policies p {
  line-height: 1.5rem;
  font-size: 13px;
  color: #4d4b4b;
  background: white;
  padding-left: 1rem;
}

.showHelp {
  width: 290px;
  height: 400px;
  overflow-y: scroll;
  margin: 2px auto;
  position: fixed;
  bottom: 50px;
  left: 10px;
  visibility: visible;
  z-index: 999;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1rem 0rem;
  -webkit-animation: front .3s ease-in forwards;
          animation: front .3s ease-in forwards;
}

@media only screen and (min-width: 800px) {
  .showHelp {
    position: fixed;
    top: 50px;
    right: -100px;
    width: 600px;
    max-width: 800px;
    padding: 1rem 2rem;
  }
}

@-webkit-keyframes front {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes front {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.showHelp::-webkit-scrollbar {
  display: none;
}

.activatemedia {
  width: 30px;
  height: 40px;
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 999;
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px 0 0 5px;
  padding: .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  cursor: pointer;
}

.activatemedia i {
  font-size: 20px;
  color: var(--secondaryColor);
  background: var(--primaryColor);
  cursor: pointer;
}

.sidelinks {
  width: 160px;
  position: fixed;
  right: -161px;
  top: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  z-index: 990;
  -webkit-box-shadow: 0 0 10px 5px rgba(85, 85, 85, 0.2);
          box-shadow: 0 0 10px 5px rgba(85, 85, 85, 0.2);
  border-radius: 5px;
  background: var(--primaryColor);
  padding: .5rem 4rem .5rem .1rem;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.sidelinks__chevrons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

.sidelinks__chevrons i {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

.sidelinks__title {
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

.sidelinks__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--primaryColor);
}

.sidelinks__section .top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 10px;
  background: var(--primaryColor);
  padding: 0 .4rem;
}

.sidelinks__section .middle {
  width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(2rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  grid-gap: 10px;
  margin: 10px auto 20px auto;
  background: var(--primaryColor);
}

.sidelinks__section .middle a {
  background: var(--primaryColor);
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-top: 10px;
}

.sidelinks__section .middle a i {
  font-size: 15px;
  font-weight: 600;
  color: var(--secondaryColor);
}

.sidelinks__section p {
  text-align: center;
  color: var(--secondaryColor);
  background: var(--primaryColor);
  font-style: italic;
  width: 100%;
  padding-left: 10px;
}

.showlinks {
  position: fixed;
  right: 0px;
}

.projects {
  width: 100%;
  margin: 10px auto;
}

@media only screen and (min-width: 426px) {
  .projects {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 769px) {
  .projects {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1025px) {
  .projects {
    margin-top: 90px;
  }
}

.projects__title {
  text-align: center;
  font-size: 2rem;
  color: blue;
  padding: 0 auto 10px auto;
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 426px) {
  .projects__title {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  .projects__title {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) {
  .projects__title {
    margin: 0 auto;
    width: 80%;
  }
}

.projects__container-projects {
  width: 96%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 10px;
}

@media only screen and (min-width: 426px) {
  .projects__container-projects {
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 769px) {
  .projects__container-projects {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 1025px) {
  .projects__container-projects {
    width: 80%;
    margin: 20px auto;
  }
}

.projects__main-card {
  width: 280px;
  min-width: 300px;
  height: 240px;
  max-height: 280px;
  -webkit-box-shadow: 0 0 5px 2px var(--secondaryColor);
          box-shadow: 0 0 5px 2px var(--secondaryColor);
  margin: 10px auto;
  overflow-y: hidden;
}

.projects__image-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

.projects__image-link p {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projects__image-link img {
  width: 90%;
  margin: 0 auto;
  height: 70%;
  border: 1px solid var(--secondaryColor);
}

.projects__image-link .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .8rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__image-link .info a {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__image-link .info a:nth-child(1) i {
  padding-left: 5px;
  color: orangered;
  font-size: 13px;
}

.projects__image-link .info a i {
  font-size: 17px;
  color: blue;
}

.projects__project-description {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  height: 100%;
  margin: 0 auto;
  border-radius: 4px;
  padding-top: 10px;
  display: none;
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

.projects__project-description .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.projects__project-description .top .left {
  padding: 1rem auto;
  text-align: left;
  margin-right: 5px;
}

.projects__project-description .top .left p {
  line-height: 1.3rem;
  font-weight: 300;
  text-align: left;
  color: var(--secondaryColor);
}

.projects__project-description .top .right {
  padding: 1rem auto;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 5px;
}

.projects__project-description p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.5rem;
  color: var(--secondaryColor);
}

.projects__project-description .bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .8rem 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10px;
}

.projects__project-description .bottom a {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__project-description .bottom a:nth-child(1) i {
  padding-left: 5px;
  color: orangered;
  font-size: 13px;
}

.projects__project-description .bottom a i {
  font-size: 13px;
  color: blue;
  padding-left: 10px;
}

.services {
  width: 100%;
  margin: 10px auto;
}

@media only screen and (min-width: 426px) {
  .services {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 769px) {
  .services {
    margin-top: 80px;
  }
}

@media only screen and (min-width: 1025px) {
  .services {
    margin-top: 90px;
  }
}

.services__title {
  text-align: center;
  font-size: 2rem;
  color: blue;
  padding: 0 auto 10px auto;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 426px) {
  .services__title {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  .services__title {
    margin: 0 auto;
    width: 80%;
  }
}

@media only screen and (min-width: 1025px) {
  .services__title {
    margin: 0 auto;
    width: 80%;
  }
}

.services__service-container {
  width: 96%;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  grid-gap: 10px;
}

@media only screen and (min-width: 426px) {
  .services__service-container {
    width: 90%;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 769px) {
  .services__service-container {
    width: 80%;
    margin: 20px auto;
  }
}

@media only screen and (min-width: 1025px) {
  .services__service-container {
    width: 80%;
    margin: 20px auto;
  }
}

.services__card-container {
  width: 280px;
  max-width: 300px;
  height: 260px;
  max-height: 300px;
  -webkit-box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem .6rem;
}

.services__card-container img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.services__card-container p {
  text-align: center;
  line-height: 1.3rem;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 13px;
  color: var(--secondaryColor);
}

.services .contact {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.services .contact a {
  color: blue;
}

.services .contact a:nth-child(1) i {
  color: green;
}

.services .contact a:nth-child(2) i {
  color: orangered;
}

.services .contact a i {
  margin-right: 10px;
  font-size: 14px;
}

.skills {
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px auto;
}

@media only screen and (min-width: 426px) {
  .skills {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 769px) {
  .skills {
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .skills {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
  }
}

.skills__title {
  text-align: center;
  font-size: 2rem;
  color: blue;
  padding: 0 auto 10px auto;
}

@media only screen and (min-width: 426px) {
  .skills__title {
    margin-bottom: 15px;
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 769px) {
  .skills__title {
    margin-bottom: 15px;
    width: 80%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1025px) {
  .skills__title {
    margin-bottom: 15px;
    width: 80%;
    margin: 0 auto;
  }
}

.skills__container {
  width: 98%;
  margin: 5px auto;
}

.skills__description {
  text-align: center;
  line-height: 1.5rem;
  color: var(--secondaryColor);
}

@media only screen and (min-width: 426px) {
  .skills__description {
    line-height: 1.7rem;
  }
}

@media only screen and (min-width: 769px) {
  .skills__description {
    line-height: 1.7rem;
  }
}

@media only screen and (min-width: 1025px) {
  .skills__description {
    line-height: 1.7rem;
  }
}

.skills__display {
  width: 100%;
  margin-top: 20px;
  padding: .4rem auto;
}

@media only screen and (min-width: 426px) {
  .skills__display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .skills__display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-gap: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .skills__display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(21rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
    grid-gap: 10px;
  }
}

.skills__compined {
  width: 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.skills__compined .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  padding: .8rem .6rem;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid var(--secondaryColor);
  margin: 0 auto;
  cursor: pointer;
}

.skills__compined .general p {
  font-size: 14px;
  color: orangered;
}

.skills__compined .general .changecolor {
  color: green;
}

.skills__compined .general i {
  font-size: 13px;
  color: var(--secondaryColor);
  padding-right: 5px;
}

.skills__card-container {
  width: 94%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  margin: 0 auto;
}

@media only screen and (min-width: 426px) {
  .skills__card-container {
    max-height: 60vh;
    overflow-y: scroll;
    -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    margin: 0 auto;
  }
  .skills__card-container::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .skills__card-container {
    max-height: 60vh;
    overflow-y: scroll;
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin: 0 auto;
  }
  .skills__card-container::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .skills__card-container {
    max-height: 60vh;
    overflow-y: scroll;
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin: 0 auto;
  }
  .skills__card-container::-webkit-scrollbar {
    display: none;
  }
}

.skills__card-container .card {
  width: 70px;
  max-width: 80px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: .6rem .4rem;
}

@media only screen and (min-width: 426px) {
  .skills__card-container .card {
    width: 80px;
    margin: 10px auto;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .skills__card-container .card {
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .skills__card-container .card {
    width: 80px;
    margin: 0 auto;
    margin-top: 10px;
  }
}

.skills__card-container .card img {
  width: 50px;
  max-width: 60px;
  max-height: 60px;
  height: 50px;
}

.skills__card-container .card p {
  text-align: center;
  color: gray;
  font-style: italic;
  padding-top: 10px;
}

.skills .lanimages {
  width: 94%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  margin: 0 auto;
  display: none;
}

@media only screen and (min-width: 426px) {
  .skills .lanimages {
    max-height: 60vh;
    overflow-y: scroll;
    -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    margin: 0 auto;
  }
  .skills .lanimages::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .skills .lanimages {
    max-height: 60vh;
    overflow-y: scroll;
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin: 0 auto;
  }
  .skills .lanimages::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .skills .lanimages {
    max-height: 60vh;
    overflow-y: scroll;
    -ms-grid-columns: (minmax(8rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    margin: 0 auto;
  }
  .skills .lanimages::-webkit-scrollbar {
    display: none;
  }
}

.skills__category {
  width: 98%;
  margin: 20px auto;
}

@media only screen and (min-width: 426px) {
  .skills__category {
    margin: 0 auto;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .skills__category::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  .skills__category {
    margin: 0 auto;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .skills__category::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .skills__category {
    margin: 0 auto;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .skills__category::-webkit-scrollbar {
    display: none;
  }
}

.skills__category .types {
  font-size: 14px;
  color: orangered;
  padding-left: 5px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.skills__category-container {
  width: 96%;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  padding: .8rem 0;
  border-radius: 4px;
  margin: 0 auto;
}

.skills__category-container .toggle {
  width: 80%;
  margin: 10px auto;
  cursor: pointer;
}

.skills__category-container .toggle .top-section {
  width: 98%;
  margin: 5px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .4rem .4rem;
  border-bottom: 1px solid #bab8b8;
  border-top: 1px solid #bab8b8;
}

.skills__category-container .toggle .bottom-text {
  width: 96%;
  margin: 5px auto;
  display: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.skills__category-container .toggle .bottom-text p {
  padding: .6rem auto;
  width: 100%;
  color: var(--secondaryColor);
  padding-bottom: 5px;
  font-style: italic;
}

.skills__category-container .toggle .bottom-text .card-images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  margin: 0 auto;
}

.skills__category-container .toggle .bottom-text .card-images img {
  width: 60px;
  height: 60px;
  max-height: 80px;
  max-width: 80px;
  margin-top: 4px;
  border-radius: 4px;
}

.skills__category-container .toggle .show-text {
  width: 96%;
  margin: 5px auto;
  display: block;
}
/*# sourceMappingURL=import.css.map */