@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: black;
    list-style: none;
}
html{
    transition: all 300ms;
    scroll-behavior: smooth;
}



// animations
.flipchevronup{
    animation: show .2s ease forwards;
    transition: all 300ms;
    @keyframes show {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(-180deg);
        }
    }
}





body{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    transition: all 500ms;
}

// header styles
.header{
    width: 100%;
    height: 50px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: whitesmoke;
    z-index: 999;
    @media only screen and (min-width: 769px){
       overflow-x: hidden;
    }
    @media only screen and (min-width: 1025px){
       overflow-x: hidden;
    }

    
    .logo{
        width: 90px;
        height: 30px;
        margin-left: 10px;
        border-radius: 4px;
        @media only screen and (min-width: 426px){
            width: 90px;
            height: 40px;
            margin-left: 30px;
        }
        @media only screen and (min-width: 769px){
            margin-left: 40px;
        }
        @media only screen and (min-width: 1025px){
            margin-left: 50px;
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
    }
    
    .links{
        display: none;
        @media only screen and (min-width: 769px){
             display: block; 
        }
        @media only screen and (min-width: 1025px){
             display: block;  
        }

        &__container{
            margin-left: auto;
            a{
                font-size: 15px;
                margin-left: 10px;
                padding: .6rem 1rem;
                border-radius: 3px;
                font-weight: 500;
                &:hover{
                    font-weight: 500;
                    background: blue;
                    color: white;
                    transition: all 300ms;
                }
            }
        }
    }
    
   

    .time{
        display: flex;
        justify-content: center;
        align-items: center;
        background: purple;
        padding: .4rem 1rem;
        border-radius: 10px 0 10px 0;
        // @media only screen and (min-width: 426){
        //     margin: 0 2px 0 auto;
        // }
        // @media only screen and (min-width: 729){
            
        // }
        // @media only screen and (min-width: 1025){
            
        // }
        &__now{
            margin: 0 auto;
            span{
                font-size: 17px;
                font-weight: 600;
            }
            .hour{
                color: rgb(0, 255, 0);
            }
            .minute{
                color: rgb(0, 221, 255);
            }
            .counter{
                color: rgb(246, 96, 37);
            }
            .category{
                color: white;
            }
        }
    }

    .theme{
        width: 40px;
        height: 40px;
        display: grid;
        place-content: center;
        margin-right: 10px;
        @media only screen and (min-width: 426px){
            margin-right: 20px;
        }
        @media only screen and (min-width: 769px){
            margin-right: 30px;
        }
        @media only screen and (min-width: 1025px){
            margin-right: 40px;
        }
        i{
            font-size: 22px;
            cursor: pointer;
        }
    }
}

// content styles
.content{
    margin-top: 60px;
    padding-bottom: 70px;

    // start of the home page
    .home{
        width: 100%;
        padding-top: 20px;
        @media only screen and (min-width: 426px){
            height: 80vh;
            margin-top: 30px;
        }
        @media only screen and (min-width: 769px){
            overflow-x: hidden;
            will-change: 90%;
            height: 90vh;
            margin-top: 100px;
        }
        @media only screen and (min-width: 1025px){
            overflow-x: hidden;
            will-change: 90%;
            max-width: 90%;
            margin-top: 150px;
        }
       
        &__compined{
            width: 92%;
            margin: 0px auto;
            padding-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            @media only screen and (min-width: 426px){
                width: 80%;
                margin: 10px auto;
                flex-direction: row;
            }
            @media only screen and (min-width: 769px){
                flex-direction: row;
                margin: 10px auto;
                flex-direction: row;
            }
            @media only screen and (min-width: 1025px){
                flex-direction: row;
                margin: 10px auto;
                flex-direction: row;
            }
        }

        &__left{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;
            @media only screen and (min-width: 426px){
                width: 60%;
                margin-right: auto;
            }
            @media only screen and (min-width: 769px){
                width: 60%;
            }
            @media only screen and (min-width: 1025px){
                width: 60%;
            }

            .skill{
                width: 90%;
                font-size: 17px;
                color: orangered;
                text-align: center;
                margin-top: 10px;
                height: 20px;
                overflow-x: hidden;
                font-weight: 600;
                @media only screen and (min-width: 426px){
                    font-size: 20px;
                    width: 60%;
                    height: 25px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                @media only screen and (min-width: 769px){
                    font-size: 20px;
                    width: 60%;
                    height: 25px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                @media only screen and (min-width: 1025px){
                    font-size: 10x;
                    width: 60%;
                    max-width: 60%;
                    height: 25px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
            p{
                text-align: center;
                line-height: 1.6rem;
                color: grey;
                font-size: 13px;
                @media only screen and (min-width: 426px){
                    line-height: 1.8rem;
                }
                @media only screen and (min-width: 769px){
                    line-height: 2rem;
                }
                @media only screen and (min-width: 1025px){
                    line-height: 2rem;
                }
            }
        }

        &__title{
            font-size: 20px;
            color: blue;
            padding: .4rem auto;
            font-weight: 600;
            text-align: center;
            @media only screen and (min-width: 426px){
                font-size: 3rem;
                padding: 0 0;
                margin: 0 auto;
                width: 90%;
            }
            @media only screen and (min-width: 769px){
                font-size: 4rem;
                margin: 0 auto;
                width: 90%;
            }
            @media only screen and (min-width: 1025px){
                font-size: 5rem;
                margin: 0 auto;
                width: 90%;
            }
        }

        &__buttons{
           width: 100%;
           display: flex;
           flex-direction: row;
           align-items: center;
           justify-content: center;
           margin-top: 20px;
           @media only screen and (min-width: 426px){
               margin-top: 40px;
               margin-bottom: 40px;
            }
            @media only screen and (min-width: 769px){
                margin-top: 40px;
                margin-bottom: 40px;
            }
            @media only screen and (min-width: 1025px){
                margin-top: 40px;
                margin-bottom: 40px;
            }
           a{
               padding: .6rem 1rem;
               border-radius: 3px;
               margin-left: 15px;
                @media only screen and (min-width: 769px){
                    padding: .8rem 1.2rem;
                }
                @media only screen and (min-width: 1025px){
                    padding: .8rem 1.2rem;
                }
               
               &:nth-child(1){
                   background: green;
                   color: white;
               }
               &:nth-child(2){
                   background: blue;
                   color: white;
               }
           }
        }

        &__right{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: grey;
            @media only screen and (min-width: 426px){
                width: 40%;
                height: 40%;
                border-radius: 50%;
                margin-left: 20px;
                margin-top: -20px;
            }
            @media only screen and (min-width: 769px){
                width: 35%;
                height: 35%;
                border-radius: 50%;
                margin-left: 20px;
                margin-top: 20px;
                margin-top: -20px;
            }
            @media only screen and (min-width: 1025px){
                width: 35%;
                height: 35%;
                border-radius: 50%;
                margin-left: 20px;
                margin-top: 20px;
                margin-top: -20px;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }

}

// window for smal screen navigations
.window{
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   @media only screen and (min-width: 769px){
        display: none;
   }
   @media only screen and (min-width: 1025px){
        display: none;
   }
    &__pop{
        width: 90%;
        height: 150px;
        margin-bottom: 50px;
        display: none;
        transition: all 300ms;
    }

    &__main{
        width: 100%;
        margin: 5px auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        grid-gap: 5px;
        background: rgb(217, 217, 217);
        border-radius: 5px 5px 0 5px;
        padding: 1rem .4rem;
        max-width: 280px;
        @media only screen and (min-width: 426px){
           max-width: 280px;
           margin: 0 auto;
        }

        a{
            width: 80px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: .4rem auto;
            i{
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: 600;
                color: gray;
            }
            p{
                color: gray;
            }
        }
    }

    &__buttons{
        position: fixed;
        bottom: 0;
        height: 50px;
        width: 100%;
        background: rgb(224, 222, 222);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5px;
        border-radius: 5px 5px 0 0;
        i{
            font-size: 20px;
            padding-left: 30px;
        }
        &:nth-last-child(1){
            padding-right: 30px;
        }

        a{
            width: 40px;
            margin-left: auto;
            i{
                font-size: 20px;
            }
        }

    }
}

.loader{
    width: 100%;
    height: 100%;
    visibility: visible;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 200ms;
    display: grid;
    place-items: center;
    animation: color 2s ease infinite;
    @keyframes color {
        0%{
            background: blue;
        }
        20%{
            background: orange;
        }
        40%{
            background: purple;
        }
        60%{
            background: white;
        }
        80%{
            background: black;
        }
        100%{
            background: blue;
        }
    }
    
    img{
        width: 80px;
        height: 60px;
        animation: flipflop 2s ease infinite;

        @keyframes flipflop {
            0%{
                transform: rotate(0deg);
            }
            20%{
                transform: rotate(-90deg);
            }
            40%{
                transform: rotate(-180deg);
            }
            60%{
                transform: rotate(-270deg);
            }
            80%{
                transform: rotate(-360deg);
            }
            100%{
                transform: scale(4);
            }
        }
    }
}

.hideloader{
    visibility: hidden;
    z-index: -1000;
    transition: all 200ms;
}

