@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
:root {
  --primaryColor: whitesmoke;
  --secondaryColor: #212121;
}

.dark-mode {
  --primaryColor: #000106;
  --secondaryColor: #ffff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: var(--secondaryColor);
  background: var(--primaryColor);
  list-style: none;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

html {
  scroll-behavior: smooth;
}

.flipchevronup {
  -webkit-animation: show .2s ease forwards;
          animation: show .2s ease forwards;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

@-webkit-keyframes show {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes show {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

body {
  width: 100%;
  height: 100vh;
  color: var(--secondaryColor);
  background: var(--primaryColor);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.header {
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--secondaryColor);
  background: var(--primaryColor);
  z-index: 999;
}

@media only screen and (min-width: 769px) {
  .header {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    overflow-x: hidden;
  }
}

.header .logo {
  width: 90px;
  height: 30px;
  margin-left: 10px;
  border-radius: 4px;
}

@media only screen and (min-width: 426px) {
  .header .logo {
    width: 90px;
    height: 40px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .header .logo {
    margin-left: 40px;
  }
}

@media only screen and (min-width: 1025px) {
  .header .logo {
    margin-left: 50px;
  }
}

.header .logo img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.header .links {
  display: none;
}

@media only screen and (min-width: 769px) {
  .header .links {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  .header .links {
    display: block;
  }
}

.header .links__container {
  margin-left: auto;
}

.header .links__container a {
  font-size: 15px;
  margin-left: 10px;
  padding: .6rem 1rem;
  border-radius: 3px;
  font-weight: 500;
  color: var(--secondaryColor);
}

.header .links__container a:hover {
  font-weight: 500;
  background: blue;
  color: white;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: purple;
  padding: .4rem 1rem;
  border-radius: 10px 0 10px 0;
  width: 130px;
}

.header .time__now {
  margin: 0 auto;
}

.header .time__now span {
  font-size: 14px;
  font-weight: 600;
}

.header .time__now .hour {
  color: lime;
}

.header .time__now .minute {
  color: #00ddff;
}

.header .time__now .counter {
  color: #f66025;
}

.header .time__now .category {
  color: white;
}

.header .theme {
  width: 40px;
  height: 40px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin-right: 10px;
  color: var(--secondaryColor);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media only screen and (min-width: 426px) {
  .header .theme {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 769px) {
  .header .theme {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 1025px) {
  .header .theme {
    margin-right: 40px;
  }
}

.header .theme i {
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.content {
  padding-top: 50px;
  padding-bottom: 70px;
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

.content .home {
  width: 100%;
  padding-top: 20px;
  color: var(--secondaryColor);
  background: var(--primaryColor);
}

@media only screen and (min-width: 426px) {
  .content .home {
    height: 80vh;
    margin-top: 30px;
  }
}

@media only screen and (min-width: 769px) {
  .content .home {
    overflow-x: hidden;
    will-change: 90%;
    height: 90vh;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home {
    overflow-x: hidden;
    will-change: 90%;
    max-width: 90%;
    margin-top: 150px;
  }
}

.content .home__compined {
  width: 92%;
  margin: 5px auto;
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media only screen and (min-width: 426px) {
  .content .home__compined {
    width: 80%;
    margin: 10px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__compined {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px auto;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__compined {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 10px auto;
    flex-direction: row;
  }
}

.content .home__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}

@media only screen and (min-width: 426px) {
  .content .home__left {
    width: 60%;
    margin-right: auto;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__left {
    width: 60%;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__left {
    width: 60%;
  }
}

.content .home__left .skill {
  width: 90%;
  font-size: 17px;
  color: orangered;
  text-align: center;
  margin-top: 10px;
  height: 20px;
  overflow-x: hidden;
  font-weight: 600;
}

@media only screen and (min-width: 426px) {
  .content .home__left .skill {
    font-size: 20px;
    width: 60%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__left .skill {
    font-size: 20px;
    width: 60%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__left .skill {
    font-size: 10x;
    width: 60%;
    max-width: 60%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.content .home__left p {
  text-align: center;
  line-height: 1.6rem;
  color: grey;
  font-size: 13px;
  color: var(--secondaryColor);
}

@media only screen and (min-width: 426px) {
  .content .home__left p {
    line-height: 1.8rem;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__left p {
    line-height: 2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__left p {
    line-height: 2rem;
  }
}

.content .home__title {
  font-size: 20px;
  color: blue;
  padding: .4rem auto;
  font-weight: 600;
  text-align: center;
}

@media only screen and (min-width: 426px) {
  .content .home__title {
    font-size: 3rem;
    padding: 0 0;
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__title {
    font-size: 4rem;
    margin: 0 auto;
    width: 90%;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__title {
    font-size: 5rem;
    margin: 0 auto;
    width: 90%;
  }
}

.content .home__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media only screen and (min-width: 426px) {
  .content .home__buttons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__buttons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__buttons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.content .home__buttons a {
  padding: .6rem 1rem;
  border-radius: 3px;
  margin-left: 15px;
}

@media only screen and (min-width: 769px) {
  .content .home__buttons a {
    padding: .8rem 1.2rem;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__buttons a {
    padding: .8rem 1.2rem;
  }
}

.content .home__buttons a:nth-child(1) {
  background: green;
  color: white;
}

.content .home__buttons a:nth-child(2) {
  background: blue;
  color: white;
}

.content .home__right {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: grey;
}

@media only screen and (min-width: 426px) {
  .content .home__right {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -20px;
  }
}

@media only screen and (min-width: 769px) {
  .content .home__right {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-top: -20px;
  }
}

@media only screen and (min-width: 1025px) {
  .content .home__right {
    width: 35%;
    height: 35%;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    margin-top: -20px;
  }
}

.content .home__right img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.window {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
}

@media only screen and (min-width: 769px) {
  .window {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .window {
    display: none;
  }
}

.window__pop {
  width: 90%;
  height: 150px;
  margin-bottom: 50px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  display: none;
  background: transparent;
}

.window .showwindoicons {
  width: 90%;
  height: 150px;
  margin-bottom: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  display: none;
}

.window__main {
  width: 100%;
  margin: 10px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(6rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  grid-gap: 5px;
  border-radius: 5px 5px 0 5px;
  padding: 1rem .4rem;
  max-width: 280px;
  background: #020235;
  -webkit-animation: zomin .1s ease forwards;
          animation: zomin .1s ease forwards;
}

@-webkit-keyframes zomin {
  from {
    visibility: hidden;
    z-index: -999;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    visibility: visible;
    z-index: 999;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zomin {
  from {
    visibility: hidden;
    z-index: -999;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    visibility: visible;
    z-index: 999;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media only screen and (min-width: 426px) {
  .window__main {
    max-width: 280px;
    margin: 0 auto;
  }
}

.window__main a {
  width: 80px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .4rem auto;
  margin: 0 auto;
}

.window__main a i {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  padding-right: 10px;
}

.window__main a p {
  color: var(--secondaryColor);
}

.window__buttons {
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
  border-radius: 5px 5px 0 0;
  background: #020235;
}

.window__buttons i {
  font-size: 20px;
  margin-left: 30px;
  background: #020235;
}

.window__buttons:nth-last-child(1) {
  padding-right: 30px;
}

.window__buttons a {
  width: 40px;
  margin-left: auto;
  background: #020235;
}

.window__buttons a i {
  font-size: 20px;
  text-align: center;
  color: var(--secondaryColor);
  background: #020235;
}

.loader {
  width: 100%;
  height: 100%;
  visibility: visible;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: color 2s ease infinite;
          animation: color 2s ease infinite;
}

@-webkit-keyframes color {
  0% {
    background: blue;
  }
  20% {
    background: orange;
  }
  40% {
    background: purple;
  }
  60% {
    background: white;
  }
  80% {
    background: black;
  }
  100% {
    background: blue;
  }
}

@keyframes color {
  0% {
    background: blue;
  }
  20% {
    background: orange;
  }
  40% {
    background: purple;
  }
  60% {
    background: white;
  }
  80% {
    background: black;
  }
  100% {
    background: blue;
  }
}

.loader img {
  width: 80px;
  height: 60px;
  -webkit-animation: flipflop 2s ease infinite;
          animation: flipflop 2s ease infinite;
}

@-webkit-keyframes flipflop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  40% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  60% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  80% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

@keyframes flipflop {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  40% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  60% {
    -webkit-transform: rotate(-270deg);
            transform: rotate(-270deg);
  }
  80% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
}

.hideloader {
  visibility: hidden;
  z-index: -1000;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
/*# sourceMappingURL=index.css.map */